<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="local" value="./artifacts/nuget" />
  </packageSources>
  <packageSourceMapping>
    <!-- This local NuGet repo is used when compiling on the GitHub runners -->
    <packageSource key="local">
      <package pattern="GitHubRestApiClient" />
      <package pattern="UsageHelpers" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
